* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.nav-desk {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.nav-mobile {
    display: none;
}

.nav-mobile-2 {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.pint-icon {
    color: #E60023;
    font-size: 24px;
}

.home {
    background-color: black;
    padding: 1rem;
    border-radius: 50px;
    color: #fff;
}

.home a {
    color: #fff;
}

.create a {
    margin-right: 2px;
}

input {
    padding: 1rem;
    background-color: rgb(230, 230, 230);
    width: 72%;
    height: 50px;
    border: none;
    border-radius: 50px;
}

input::placeholder {
    font-size: 16px;
}

.notifications i {
    font-size: 23px;
}

.message i {
    font-size: 23px;
}

.profile-image img {
    width: 25px;
}

/* Images Section */

main {
    margin-top: 84px;
    padding: 0 2.5%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.images-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-image {
    height: fit-content;
    /* background-color: #E60023; */
    position: relative;
    border-radius: 20px;
}

.card-image .picimg {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

button {
    position: absolute;
    display: none;
    border: none;
    cursor: pointer;
}

.card-image:hover button.save {
    display: block;
    top: 10px;
    right: 15px;
    padding: 1rem;
    border-radius: 50px;
    background-color: #E60023;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}

.card-image:hover button.send {
    display: block;
    bottom: 15px;
    right: 65px;
    padding: 0.5rem 0.6rem;
    border-radius: 50%;
    font-size: 19px;
}

.card-image:hover button.ellipsis {
    display: block;
    bottom: 15px;
    right: 15px;
    padding: 0.5rem 0.6rem;
    border-radius: 50%;
    font-size: 19px;
}

@media screen and (max-width: 768px) {
    .nav-desk {
        display: none;
    }

    .nav-mobile {
        position: fixed;
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 12px;
        font-weight: 200;
        gap: 1rem;
        z-index: 1;
        background-color: #fff;
    }

    .pint-tv {
        position: absolute;
        left: 13px;
        top: 15px;
        font-size: 21px;
    }

    .browse {
        position: relative;
    }

    .browse::after {
        content: '';
        position: absolute;
        top: 22px;
        left: 0;
        width: 100%;
        border-bottom: 4px solid black;
        border-radius: 20%;
    }

    .nav-mobile-2 {
        position: fixed;
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2.4rem;
        font-size: 25px;
        font-weight: 700;
        z-index: 3;
        background-color: #fff;
        bottom: 0;
    }

    .profile-image-2 {
        width: 25px;
    }

    main {
        margin-top: 51px;
        grid-template-columns: repeat(2, 1fr);
    }
}