* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.nav-desk {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.nav-mobile {
    display: none;
}

.nav-mobile-2 {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.h-link {
    position: relative;
}

.h-background {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: rgb(241, 241, 241);
    bottom:-11px;
    right: -13px;
    border-radius: 50%;
    display: none;
}

.h-icon {
    background-color: rgb(226, 226, 226);
}

.h-img {
    bottom:-8px;
    right: -11px;
}

.h-arrow {
    width: 2rem;
    height: 2rem;
    bottom:-4px;
    right: -9px;
}

.h-link:hover .h-background {
    display: block;
}

.h-hover {
    position: relative;
}

.pint-icon {
    color: #E60023;
    font-size: 24px;
}

.home {
    background-color: black;
    padding: 1rem;
    border-radius: 50px;
    color: #fff;
}

.home a {
    color: #fff;
}

.create a {
    margin-right: 2px;
}

.input-container {
    width: 73%;
    position: relative;
}

input {
    position: relative;
    padding: 1rem;
    padding-left: 2.5rem;
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 50px;
}

.glass {
    position: absolute;
    z-index: 1;
    top: 17px;
    left: 15px;
    color: rgb(120, 120, 120);
}

.cross-container {
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 15px;
    cursor: pointer;
    display: none;
}

.h-cross {
    width: 3rem;
    height: 3rem;
    background-color: rgb(216, 216, 216);
    top: -14.7px;
    right: -13.5px;
}

.cross-container i.cross {
    font-size: 20.5px;
    position: relative;;
    z-index: 1;
}

input:hover {
    background-color: rgb(223, 223, 223);
}

input:focus {
    padding-left: 1rem;
    outline: 4px solid rgb(124, 200, 255);
}

input:focus ~ .glass {
    display: none;
}

input:focus ~ .cross-container {
    display: block;
}

input::placeholder {
    font-size: 16px;
}

.notifications i, .message i, .angle-down i {
    color: rgb(88, 88, 88);
}

.notifications i {
    font-size: 23px;
}

.message i {
    font-size: 23px;
}

.profile-image img {
    width: 25px;
}

/* Images Section */

main {
    margin-top: 84px;
    padding: 0 2.5%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.images-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-image {
    height: fit-content;
    position: relative;
    border-radius: 20px;
}

.card-image .picimg {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

button {
    position: absolute;
    display: none;
    border: none;
    cursor: pointer;
}

.card-image:hover button.save {
    display: block;
    top: 10px;
    right: 15px;
    padding: 1rem;
    border-radius: 50px;
    background-color: #E60023;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}


.card-image:hover button.send {
    display: block;
    bottom: 15px;
    right: 65px;
    padding: 0.5rem 0.6rem;
    border-radius: 50%;
    font-size: 19px;
    background-color: #ffffffe7;
}

.card-image:hover button.ellipsis {
    display: block;
    bottom: 15px;
    right: 15px;
    padding: 0.5rem 0.6rem;
    border-radius: 50%;
    font-size: 19px;
    background-color: #ffffffe7;
}

.card-image:hover button.save:hover {
    background-color: #b6001b;
}

.card-image:hover button.send:hover, .card-image:hover button.ellipsis:hover {
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .nav-desk {
        display: none;
    }

    .nav-mobile {
        position: fixed;
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 12px;
        font-weight: 200;
        gap: 1rem;
        z-index: 1;
        background-color: #fff;
    }

    .pint-tv {
        position: absolute;
        left: 13px;
        top: 15px;
        font-size: 21px;
    }

    .browse {
        position: relative;
    }

    .browse::after {
        content: '';
        position: absolute;
        top: 22px;
        left: 0;
        width: 100%;
        border-bottom: 4px solid black;
        border-radius: 20%;
    }

    .nav-mobile-2 {
        position: fixed;
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2.4rem;
        font-size: 25px;
        font-weight: 700;
        z-index: 3;
        background-color: #fff;
        bottom: 0;
    }

    .profile-image-2 {
        width: 25px;
    }

    main {
        margin-top: 51px;
        grid-template-columns: repeat(2, 1fr);
    }
}